@green: #4CD964;
@blue: #34AADC;
@red: #FF3B30;
@orange: #FF9500;


UIImageView.circle {
    borderColor: #7f7f7f;
    borderWidth: 0.5;
    cornerRadius: 50;
    clipsToBounds: YES;
}

.profile UIButton {
    borderColor: #7f7f7f;
    borderWidth: 0.5;
}

.green {
    backgroundColor: @green;
}

.blue {
    backgroundColor: @blue;
}

.red {
    backgroundColor: @red;
}

.orange {
    backgroundColor: @orange;
}

.selectableColor {
    cornerRadius: 8;
    clipsToBounds: YES;
}

.selectedColor {
    borderColor: #7f7f7f;
    borderWidth: 2;
}
